h1, h2, h3 {
    color: var(--title-color);
}

strong {
    color: var(--grey-blue);
}

header {
    background-color: var(--top-background);
    padding: 2.5rem 1.5rem;
}

header h2 {
    margin-bottom: 0.3rem;
}

header strong {
    font-size: 14px;
}

header hr {
    margin: 1rem 0;
    border-top: 1px solid var(--grey-blue);
    border-bottom: none;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div:hover strong {
    color: var(--toggle-theme-text-color-hover);
}

header div button {
    width: 3.1rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    padding-left: 0.2rem;

    background: var(--toggle-theme-background);
    border-radius: 225px;
    border: none;

    cursor: pointer;
}

header div button:hover {
    background: var(--toggle-theme-background-hover);
}

header button span {
    width: 1.2rem;
    height: 1.2rem;

    background-color: var(--background);

    border-radius: 50%;
}

main {
    width: 100%;
    display: grid;
    row-gap: 1.2rem;

    padding: 0 1.5rem 1.5rem;
    background-color: var(--background);
}

main .card {
    background-color: var(--card-background);

    padding: 1.8rem 1.5rem;
    border-radius: var(--card-border-radius);

    cursor: pointer;
}

main .card:hover {
    background-color: var(--card-background-hover);
}

main .generic.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .generic.card:nth-child(1) {
    border-top: 4px solid var(--facebook-border-color);
}

main .generic.card:nth-child(2) {
    border-top: 4px solid var(--twitter-border-color);
}

main .generic.card:nth-child(3) {
    position: relative;
}

main .generic.card:nth-child(3) hr {
    width: 100%;
    height: 4px;
    
    position: absolute;
    top: 0;

    background: var(--instagram-border-color);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    border: none;
}

main .generic.card:nth-child(4) {
    border-top: 4px solid var(--youtube-border-color);
}

main .generic.card .header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    padding-bottom: 1rem;

    font-size: 12px;
}

main .generic.card h1 {
    font-size: 55px;
}

main .generic.card h3 {
    font-size: 14px;
    font-weight: var(--medium);

    color: var(--grey-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
}

main .generic.card .stats {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    
    padding-top: 1.5rem;
}

main .generic.card .stats strong {
    font-size: 12px;
    color: var(--lime-green);
}

main .generic.card:nth-child(4) .stats strong {
    color: var(--bright-red);
}

main > h2 {
    color: var(--overview-title-color);
    margin-top: 1.5rem;
}

main .overview.card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 1.5rem;
}

main .overview.card .header strong {
    font-size: 14px;
}

main .overview.card .stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main .overview.card .stats h2 {
    font-size: 35px;
}

main .overview.card .stats div {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}

main .overview.card .stats div strong {
    font-size: 12px;
}

main .overview.card .stats .green {
    color: var(--lime-green);
}

main .overview.card .stats .red {
    color: var(--bright-red);
}

@media (min-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;

        padding: 2.5rem 5rem;
    }

    header h2 {
        grid-column: span 2;
    }

    header hr {
        display: none;
    }

    header div {
        display: flex;
        justify-content: flex-end;
        column-gap: 1rem;
    }

    main {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 2rem;

        padding: 0 5rem 5rem;
    }

    main > h2 {
        grid-column: 1 / -1;
    }
}